<div class="container shadow">
  <br>
  <div class="alert alert-danger" id="email-failed">
    <h3>Sorry, your message failed to send. It might be my fault, but let's try that one more time.</h3>
  </div>
  <section class="jumbotron text-center" id="email-form">
    <h1>Hey!</h1>
    <% if @user[:extra][:raw_info][:given_name] %>
      <h3>Thanks for signing in, <%= @user[:extra][:raw_info][:given_name] %></h3>
    <% else %>
      <h3>Thanks for visiting! But you shouldn't be on this page without signing in...</h3>
    <% end %>
    <h5>You can send me a message here if you want.</h5>
    <%= form_for :email, url: {controller: 'dashboard', action: 'contact'}, class: 'form-group', remote: true do |f| %>
      <% if @user[:info][:name] %>
        <%= f.hidden_field :user, value: @user[:info][:name] %>
      <% else %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Name", required: true %>
      <% end %>
      <br>
      <% if @user[:info][:nickname] %>
        <%= f.hidden_field :email, value: @user[:info][:nickname] + "@gmail.com" %>
      <% else %>
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email', required: true %>
      <% end %>
      <br>
      <%= f.text_area :body, class: 'form-control', placeholder: 'Let me know what you need!' %>
      <br>
      <button type="submit" class="btn btn-sm btn-primary" style="width: 100%">
           <i class="material-icons" style="vertical-align: middle">email</i><h3 style="display: inline-block; vertical-align: bottom">Send</h3>
      </button>
    <% end %>
  </section>
  <section class="jumbotron text-center" id="email-sent">
    <h1>Thanks for the message!</h1>
    <%= link_to 'Go Back to My Work', root_url, class: 'btn btn-success', style: 'width: 25%' %>
    <%= link_to 'Send Another Message', '/contact-me', class: 'btn btn-primary', style: 'width: 25%' %>
  </section>
</div>
