<!DOCTYPE html>
<html>
<head>
  <title>Sean J Hulse</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :cdn_code %>
  <%= stylesheet_link_tag    '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css' %>
  <%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag    '//fonts.googleapis.com/icon?family=Material+Icons' %>
  <%= stylesheet_link_tag    '//fonts.googleapis.com/css?family=Pacifico' %>
  <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css' %>
  <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid" style="background-color:white;">
        <div class="navbar-header">
          <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQEPZ6GNHZHyzYJ02kQ9h6bg4K2z5vvXBZRU_G8H2WaZZy0PuiFD7MELI", width: 40, height: 40, id: 'facebook-photo' %>
          <a class="navbar-brand" href="/">Sean J Hulse</a>
        </div>
        <ul class="nav navbar-right hide-on-ipad">
          <li id="user-name">
            <% unless @user.nil? %>
              Hey, <%= @user[:info][:name] %>!
            <% end %>
          </li>
        </ul>
        <ul class="nav navbar-nav hide-on-ipad">
          <li class="<%= 'active' if params[:controller] == 'home' %>"><a href="/">My Work</a></li>
        </ul>
      </div>
    </nav>
    <div style="margin-top: 75px;">
      <%= yield %>
    </div>
  <%= javascript_include_tag '//cdn.auth0.com/js/auth0/8.8/auth0.min.js' %>
  <%= javascript_include_tag '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js' %>
  <script>
  var webAuth = new auth0.WebAuth({
    domain: '<%= Rails.application.secrets.auth0_domain %>',
    clientID: '<%= Rails.application.secrets.auth0_client_id %>',
    redirectUri: '<%= Rails.application.secrets.auth0_callback_url %>',
    audience: `https://<%= Rails.application.secrets.auth0_domain %>/userinfo`,
    responseType: 'code',
    scope: 'openid profile',
    state: '<%= get_state %>'
  });

  function signin() {
    webAuth.authorize();
  }
  </script>
</body>
</html>
